@import url('https://fonts.googleapis.com/css?family=Raleway');

/* Everything */

* {
    text-transform: uppercase;
}

/* Body */

body {
    /* margin: 0; */
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-align: left;
    border-radius: 5px;
    background-color: #F5F5F5;
    padding: 50px;
}

/* Container */

.container {
    width: 90%;
    margin: 0 auto;
}

/* Typography */

h1 {
    font-weight: 600;
    font-size: 2.3rem;
    letter-spacing: 7px;
    padding-top: 10px
}

/* PathFinding Page */

table {
    border-collapse: collapse;
}

td {
    border: 1px solid;
    width: 17px;
    height: 17px;
}

td.highlighted {
  background-color: red;
}

#instructions {
    font-weight: 590;
    margin-bottom: 7px;
    color: green;
}

#okButton {
    padding: 3px;
}

#clearButton {
    padding: 3px;
}

#done {
    display: inline-block;
    font-size: 12px;
    background-color: black;
    color: white;
    padding: 10px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 7px;
    margin-left: 5px;
}

#done:hover {
    background-color: darkgoldenrod;
}

#reset {
    display: inline-block;
    font-size: 12px;
    background-color: grey;
    color: white;
    padding: 10px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 7px;
}

@media (max-width: 630px) {
    td {
        border: 1px solid;
        width: 20px;
        height: 20px;
    }

    .pathfind {
        padding: 45px;
    }

    .pathfind h1 {
        padding-top: 65px;
    }
}